# Python
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
__pycache__/
dist/
build/
pip-wheel-metadata/

# Django
*.log
local_settings.py
.env
*.sqlite3
db.sqlite3

# Media (arquivos enviados pelo usuário)
media/

# Ambiente virtual
venv/

# VSCode / IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
